@import 'variables';

// Buttons

div.smmg-subscriber-group-tag {
  font-size: 15px;
  padding: 5px 7px;
}

.smmg-subscriber-group-tag span.badge {
  margin-left: 10px;
}

// Messages

.smmg-message-status {


  &-default {
    @include box-default;
  }

  &-ok {
    @include box-ok;
  }

  &-warning {
    @include box-warning;
  }

  &-error {
    @include box-error;
  }

}

// Nachricht Details

.smmg-body {
  height: 60px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid silver;
  padding: 11px;
}

.smmg-body-komplete {
  height: auto;
}

h3.smmg-message-title {
  font-weight: bold;
}

.smmg-message-subscriber-list-container {
  border: 1px silver solid;
  padding: 10px;
  margin-top: 30px;
}

h3.smmg-message-subscriber-list-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: bold;
}


// Empfänger Liste einblenden

.smmg-subscriber-list {
  padding-top: 20px;

  h4.smmg-subscriber-list-title {
    font-weight: bold;
    border-bottom: solid 1px grey;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

}

.smmg-subscriber-list-item-name {
  font-weight: bold;
}

.smmg-subscriber-list-edit {
  font-size: 0.9em;
  border: 1px solid transparent;
  padding: 2px 7px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
}

.smmg-subscriber-list-edit:hover {
  background-color: $color-smmg-tag-button;
}

.smmg-subscriber-list-remove:hover,
.smmg-subscriber-list-edit:hover .smmg-subscriber-list-remove {
  visibility: visible
}

.smmg-subscriber-list-remove {
  font-size: 16px;
  cursor: pointer;
  visibility: hidden;
  margin-right: 10px;
}

.smmg-subscriber-list-remove:hover {
  color: red;
}

// Test
div.row > div {
  // border: solid 1px green;
}

.smmg-subscriber-list {
  margin: 10px;
}

.smmg-subscriber-list-footer {
  margin-top: 10px;
  border-top: 1px solid $color-smmg-tag-border;
  padding: 10px;
  color: $color-80;
  font-size: 0.9em;
}

.ajax-container.active {
  @include box-ok;
}

ul.smmg-subscriber-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li.smmg-subscriber-list-item {
  max-width: 300px;
  overflow: hidden;
}


.smmg-subscriber-foot {
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  button.btn.btn-default {
    display: inline-flex;
    margin-right: 10px;
  }
}

// Versand
.smmg-task-box {
  font-family: "Lato", "Lucida Grande", "Source Sans Pro", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  display: flex;
  padding: 20px;
}

.smmg-status-icon {
  width: 75px;
}

.smmg-icon-ok {
  color: green;
}


.smmg-icon-error {
  color: red;
}

.smmg-task-status {
  width: 220px;
  margin-bottom: 20px;

}

.smmg-task-status table {
  width: auto;
}


.smmg-task-list-container {
  margin-left: 10px;
}

ul.smmg-task-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

ul.smmg-task-list li {
  color: $color-80;
  border: solid 1px #d3dee3;
  padding: 10px;
  margin: 10px;
  width: 140px;

  &:hover {
    background-color: #cccedb;
  }

  h3.smmg-task-list-title {
    color: black;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .smmg-task-list-number {
  }

  .smmg-task-list-time {
  }

  .smmg-task-list-button.btn-tag {
    margin: -13px 0 0 76px;
    position: absolute;

  }

}

.smmg-messages-wrapper {
  display: flex;
}

.swing li {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

.swing li.show {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

.task-done {
  background-color: #c9f3ce;
}


.smmg-body-toggle-trigger,
.smmg-body-html-toggle-trigger {
  cursor: pointer;
}

.smmg-body-html-wrapper {
  min-height: 60px;
  margin-bottom: 10px;
  border: 1px solid silver;
  padding: 11px;
}
